header {
    border-bottom: 1px solid;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: relative;

    h1{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 10px;
        border: 1px #000 solid;
        padding: 6px 12px;
        font-size: 40px;
        color: #fff;
        background-color: #000;
    }

    section {
        position: relative;
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 10px;

        .btnUser {
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            padding: 2px;
            border-radius: 50%;
            border: 1px solid;
            width: 30px;
            height: 30px;
            transition: 0.1s ease;

            &:hover {
                scale: 1.05;
            }

            svg {
                width: fit-content;
                height: fit-content;
                stroke-width: 1.5;
                stroke: #000;
                fill: none;
                stroke-linecap: round;
                stroke-linejoin: round;
            }
        }

        span {
            font-size: 24px;
            font-weight: bold;
        }

        .btn__cerrar__sesion {
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            text-align: center;
            text-decoration: none;
            color: #000;
            font-size: 20px;
            padding: 6px;
            border: #000 1px solid;
            width: 100%;
            font-weight: bold;
            border-radius: 6px;
            transition: 0.1s ease;
            gap: 5px;
            svg {
                width: 30px;
                height: 30px;
                stroke-width: 1.8;
                stroke-linecap: round;
                stroke-linejoin: round;
                stroke: #000;
                fill: none;
            }

            &:hover {
                scale: 1.05;
            }
        }

        .modal__user {
            display: flex;
            align-items: flex-start;
            z-index: 100;
            background-color: #fff;
            border-radius: 8px;
            border: 1px solid;
            padding: 8px;
            width: 110%;
            position: absolute;
            top: 100%;
            display: flex;
            flex-direction: column;

            p{
                font-size: 18px;
            }

            span {
                font-size: 20px;
                border-bottom: 1px solid;
                padding: 2px 6px;
            }
        }
    }
}