nav{
    padding: $pGeneral;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
    .section__navbar{
        border: 1px solid;
    padding: $pChico;
        color: $decoColor;
        font-size: $textSizeGrande;
        text-decoration: none;
    }
}