.configuracion{
    position: relative;
    padding: 20px;
    .contenedor__btns__configuracion{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
    
        .btn__configuracion{
        
        }
    }
}