.contenedor__filtros {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1.5rem;
    padding: 1rem;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    border-radius: 16px;
    
    input {
        border-radius: 8px;
        padding: 0.5rem;
        font-size: 15px;
        font-weight: 600;
        border: 1px solid #ccc;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
        transition: border-color 0.3s, box-shadow 0.3s;
        border-color: #00000060;
        
        &:focus {
            border-color: #000000;
            outline: none;

        }
    }
}
