.btn__papelera {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  position: absolute;
  text-decoration: none;
  right: 20px;
  top: 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: #000;
  font-size: 18px;
  padding: 4px 10px;
  border: #000 1px solid;
  font-weight: bold;
  border-radius: 6px;
  transition: 0.1s ease;
  background-color: #fff;
  svg {
    width: 30px;
    height: 30px;
    stroke-width: 1.8;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #000;
    fill: none;
  }

  &:hover {
    scale: 1.05;
  }
}
