.form {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 50%);
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
    padding: 20px;
    position: relative;

    .title {
        font-size: 40px;
        font-weight: 600;
        letter-spacing: -1px;
        width: 100%;
    }

    .message,
    .signin {
        font-size: 16px;
    }

    .signin {
        text-align: center;

        a {
            color: #000;
            font-weight: 600;

            &:hover {
                color: royalblue;
            }
        }
    }

    .flex {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 6.6px;

        label {
            position: relative;

            .input,
            select {
                /* Añadido select aquí para que comparta los mismos estilos */
                width: 100%;
                padding: 14px 11px 22px 11px;
                outline: 0;
                border: 1px solid rgba(73, 73, 73, 0.499);
                border-radius: 9px;
                transition: $time-hover;
                font-size: $font-s;

                &:focus {
                    background-color: rgb(233, 230, 230);
                }

                &+span {
                    position: absolute;
                    left: 11px;
                    top: 39px;
                    color: rgb(73, 73, 73);
                    font-size: $font-xxs;
                    cursor: text;
                    transition: 0.3s ease;
                    font-weight: 700;
                }
            }

            .ojo__password {
                position: absolute;
                right: 0;
                transform: translate(-50%, 50%);

                svg {
                    width: 30px;
                    height: 30px;
                    stroke-width: 1.5;
                    stroke-linecap: round;
                    stroke-linejoin: round;
                    stroke: #000;
                    fill: none;
                }
            }
        }
    }

    .submit {
        border: none;
        outline: none;
        background-color: #000;
        padding: 11px;
        border-radius: 11px;
        color: #fff;
        font-size: 18px;
        font-weight: bold;
        transition: $time-hover;

        &:hover {
            background-color: #333;
        }
    }
}

.loader {
    width: 48px;
    height: 48px;
    border: 3px solid #FFF;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  } 
  .loader::after {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-bottom-color: #FF3D00;
  }
  
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 