// Tamaño de fuentes
$font-xxxs: 10px;
$font-xxs: 12px;
$font-xs: 15px;
$font-s: 18px;
$font-m: 22px;
$font-l: 28px;
$font-xl: 32px;

// padding tamaño
$p-xs: 5px;
$p-s: 10px;
$p-m: 15px;
$p-l: 20px;
$p-xl: 35px;

// gap tamaño
$gap-xs: 5px;
$gap-s: 10px;
$gap-m: 15px;
$gap-l: 20px;
$gap-xl: 35px;

// colores

// transiciones
$time-hover: all 0.3s ease;
$time-normal: all 0.5s ease;

// Bordes
$rds_xs: 5px;
$rds_s: 10px;
$rds_m: 15px;
$rds_l: 20px;
$rds_xl: 25px;
$rds_o: 50%;

* {
  user-select: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Advent Pro', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
}

body {
  margin: 0;
  min-height: 100dvh;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

.contenedor__loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  gap: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  .loader {
    width: 48px;
    height: 48px;
    border: 1px solid #242323;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
  .loader::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 2px solid transparent;
    border-bottom-color: #000;
  }

  .text__loader{
    font-size: 20px;
    font-weight: bold;
    border-radius: 8px;
    border: 1px solid;
    padding: 4px;
  }

}

[loader="interno"]{
  top: 150px;
}


@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Para navegadores WebKit (Chrome, Safari, etc.) */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    margin: 0;
}

/* Para Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

/* Para Edge y otros navegadores */
input[type=number]::-ms-clear {
    display: none;
}


@import './modules/Auth/components/FormStyle.scss';
@import './modules/Header/HeaderStyle.scss';
@import './modules/Components/Table/TablesProductosStyle.scss';
@import './modules/Components/Forms/FormModalStyle.scss';

@import './modules/Components/BtnVolver/BtnVolverStyle.scss';

@import './modules/Dashboard/DashboardStyle.scss';
@import './modules/Mercaderia/components/Filtros/FiltroProductosStyle.scss';
@import './modules/Mercaderia/components/ToolsProductos/ToolsProductosStyle.scss';